.index .main-head {
  text-align: left;
  padding: 0 15px;
  box-sizing: border-box;
}
.index .main-head .van-icon {
  font-size: 26px;
  color: #2c4198;
  margin-right: 10px;
}
.index .content {
  display: flex;
  margin-top: 30px;
}
.index .content > div {
  flex: 1;
  margin-left: 15px;
}
.index .content .rec_project {
  background: white;
  box-shadow: 0px 0px 14px #989898;
}
.index .content .rec_project .head {
  font-size: 16px;
  height: 60px;
  border-bottom: 1px solid #e8e8e8;
  line-height: 60px;
  text-align: left;
  box-sizing: border-box;
  padding: 0 30px;
  font-weight: bold;
}
.index .content .rec_project .rec_main {
  box-sizing: border-box;
  padding: 0 22px;
  margin-top: 10px;
}
.index .content .rec_project .rec_main .item {
  display: flex;
}
.index .content .rec_project .rec_main .item .circleLine {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.index .content .rec_project .rec_main .item .circleLine .circle {
  width: 12px;
  height: 12px;
  background: #6777ef;
  border-radius: 50%;
}
.index .content .rec_project .rec_main .item .circleLine .line {
  height: 166px;
  width: 1px;
  background: #e0e4eb;
}
.index .content .rec_project .rec_main .item .message {
  margin-left: 10px;
  width: 100%;
}
.index .content .rec_project .rec_main .item .message .time {
  text-align: left;
  font-size: 14px;
  color: #aeb0b3;
  margin-bottom: 6px;
}
.index .content .rec_project .rec_main .item .message .msg-card {
  width: 100%;
  background: white;
  box-shadow: 0px 0px 10px #ddd;
  padding: 24px 20px 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.index .content .rec_project .rec_main .item .message .msg-card div {
  margin-bottom: 10px;
  font-size: 14px;
}
.index .content .rec_project .rec_main .item .message .msg-card div:nth-child(1) span {
  color: #8b79e2;
}
.index .content .rec_project .rec_main .item .message .msg-card div:nth-child(2) span {
  color: #9f52ff;
}
.index .content .rec_project .rec_main .item .message .msg-card div:nth-child(3) span {
  color: blue;
}
.index .content .changeMoney {
  background: white;
  box-shadow: 0px 0px 14px #989898;
}
.index .content .changeMoney .head {
  font-size: 16px;
  height: 60px;
  border-bottom: 1px solid #e8e8e8;
  line-height: 60px;
  text-align: left;
  box-sizing: border-box;
  padding: 0 30px;
  font-weight: bold;
}
.index .content .changeMoney .money_main {
  padding: 0 22px;
  box-sizing: border-box;
}
.index .content .changeMoney .money_main ul li {
  text-align: left;
  height: 29px;
  border-bottom: 1px solid #f1f3f8;
  font-size: 14px;
  color: #7b7b7b;
  line-height: 30px;
  display: flex;
  align-items: center;
}
.index .content .changeMoney .money_main ul li .van-icon {
  margin-right: 30px;
}
.index .content .changeMoney .money_main ul li .text {
  flex: 1;
}
.index .content .changeMoney .money_main ul li .price {
  color: #6bfb70;
}
.index .content .content_link .payment {
  height: 130px;
  background: white;
  box-shadow: 0px 0px 15px #9f9f9f;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 0 28px;
  justify-content: space-between;
  margin-bottom: 16px;
}
.index .content .content_link .payment .img-div img {
  width: 56px;
  height: 56px;
}
.index .content .content_link .payment .msg {
  display: flex;
  flex-direction: column;
}
.index .content .content_link .payment .msg :nth-child(1) {
  font-size: 18px;
  font-weight: bold;
}
.index .content .content_link .payment .msg :nth-child(2) {
  font-size: 12px;
  font-weight: bold;
  color: #6777ef;
  margin-top: 10px;
}
.index .content .content_link .speed-link {
  background: white;
  box-shadow: 0px 0px 15px #9f9f9f;
  height: 314px;
}
.index .content .content_link .speed-link .head {
  font-size: 16px;
  height: 60px;
  border-bottom: 1px solid #e8e8e8;
  line-height: 60px;
  text-align: left;
  box-sizing: border-box;
  padding: 0 30px;
  font-weight: bold;
}
.index .content .content_link .speed-link .like_main {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 0 16px;
}
.index .content .content_link .speed-link .like_main div {
  width: 30%;
  margin: 0 1%;
  height: 36px;
  border: 1px solid #e6e8ec;
  line-height: 36px;
  background: #f7f8fb;
  font-size: 14px;
  border-radius: 4px;
  margin-top: 16px;
}
